<%
  meta title: "Free Market Works",
description: "Inrevi is a global marketplace. Buy and sell anything.",
keywords: %w(inrevi marketplace free)
%>

<% if user_signed_in? %>

  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-2"></div>
    <div class="col-xs-6"></div>
    <div class="col-xs-3"><p id="notice"><%= notice %></p><%= render 'user_verification' %></div>
  </div>

<% else %>
  <%= render 'landing_page' %>
<% end %>