<%
  meta title: "Free Market Works",
description: "Inrevi is a global marketplace. Buy and sell anything.",
keywords: %w(inrevi marketplace free)
%>

<% if user_signed_in? %>
<div class="main-nf">
  <%= render 'shared/upper_newsfeed' %>    
      <div class="newsfeed">
        <% @activities.each do |activity| %>
          <div class="activity">
            <%= render_activity activity %>
          </div>
        <% end %>
        <div class="digg_pagination">
          <%= will_paginate @activities, :page_links => false %>
        </div>
      </div>
</div>
<% else %>
  <%= render 'landing_page' %>
<% end %>