<% meta title: "How it Works",
description: "Inrevi is a global marketplace. Buy and sell digital products and services.",
keywords: %w(inrevi marketplace digital)
%>

  <h4>General:</h4>
  - All users must be completely verified (email, phone, ID)<br>
  - You use this site to find/sell offers and communicate with sellers/buyers<br>
  - Payment and delivery are handled between users<br>
  - <b>Offer</b> is either a digital product <i>(e.g. app, domain, book)</i> or a digital service <i>(e.g. writing, acting, tutoring)</i><hr>
  
  <h4>Buyers:</h4>
  1. Find an offer<br>
  2. Contact the seller<br>
  3. Communicate about details of payment/delivery<br>
  4. Submit a request to buy the offer<br>
  5. Seller will Accept/Decline your request <small>(email notification)</small><br>
  6. Post a Feedback<hr>
  
  <h4>Sellers:</h4>
  1. Create an offer<br>
  2. Buyer contacts you <small>(email notification)</small><br>
  3. Communicate about details of payment/delivery<br>
  4. Buyer might submit a request to buy your offer <small>(email notification)</small><br>
  5. Accept/Decline the request<br>
  6. Post a Feedback<hr>