<% meta title: "Invite. Free ad credit" %>

<div class="add-mobile">
  <%= link_to image_tag('4/invite_friend.png'), "/users/invitation/new" %>
  <b><%= link_to "INVITE", "/users/invitation/new" %></b> friends, business partners or ex-customers
</div>
<div class="add-mobile"><%= image_tag('m/endorse_small.png') %> They endorse you</div>
<div class="add-mobile"><%= image_tag('m/credit_small.png') %> You both get free <b>$5</b> ad credit</div>