<table class="table table-hover">
  <tr>
    <th>Offer</th>
    <th>User</th>
    <th>Created</th>
    <th></th>
  </tr>
 
  <% @promoted_offers.each do |promoted_offer| %>
    <tr>
      <td><%= link_to promoted_offer.offer.name, offer_path(promoted_offer.offer) %></td>
      <td><%= link_to promoted_offer.user.name, user_path(promoted_offer.user) %></td>
      <td><%= time_ago_in_words(promoted_offer.created_at) %> ago</td>
      <td><%= link_to 'Show', promoted_offer_path(promoted_offer) %></td>
    </tr>
  <% end %>
</table>