<p>
  <strong>User:</strong>
  <%= link_to @promoted_offer.user.name, user_path(@promoted_offer.user) %>
</p>

<p>
  <strong>Offer:</strong>
  <%= link_to @promoted_offer.offer.name, offer_path(@promoted_offer.offer) %>
</p>

<%= link_to 'Destroy', promoted_offer_path(@promoted_offer),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>