<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      
    </p>
    <p>
      <b><%= @seller.name %></b> approved your request to buy <b><%= @offer.name %></b><br>
    </p>
    <p>
      See your conversations here: <%= @url %> and leave a feedback.<br>
    </p>
    <p>Thank you,<br>
    www.inrevi.com</p>
  </body>
</html>