<div class="work-main-bar">
  <div class="row">
    <div class="col-xs-4" style="padding-top:5px">
      <b><%= link_to "* Post a Job", new_work_path %></b>
    </div>
    <div class="col-xs-8" style="padding-top:5px">
    <div class="input-group">
      <%= form_tag workz_search_path, :method => :get do %>
      <%= text_field_tag :search, params[:search], :placeholder => "e.g. Construction Worker in Brasil" , class: "form-control search" %>
      <%= submit_tag "Search", class: "btn btn-warning" %>
    <% end %>
    </div>
    </div>
  </div>
</div>