<%= form_tag workz_search_path, :method => :get do %>
  <%= text_field_tag :search, params[:search], :placeholder => "e.g. Construction Worker in Brasil" , class: "form-control" %>
  <div align="center"><br><%= submit_tag "Search", class: "btn btn-warning" %></div>
<% end %><hr>
