<div class="stats">
  <a href="">
    <strong id="following" class="stat">
      <%= @user.num_following %>
    </strong>
    following
  </a>
  <a href="">
    <strong id="followers" class="stat">
      <%= @user.num_followers %>
    </strong>
    followers
  </a>
</div>