<p>
  <strong>Offer:</strong>
  <%= @order.offer %>
</p>

<p>
  <strong>Conversation:</strong>
  <%= @order.conversation %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @order.buyer_id %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @order.seller_id %>
</p>