<table class="table table-condensed">
    <tr>
      <th>User</th>
      <th>Created at</th>
      <th></th>
    </tr>
  <% @user_identifications.each do |user_identification| %>
    <tr>
      <td><%= link_to user_identification.user.name, user_path(user_identification.user.id) %></td>
      <td><%= time_ago_in_words(user_identification.created_at) %></td>
      <td><%= link_to "Show", user_identification %></td>
    </tr>  
  <% end %>
</table>  