    <%= form_tag offerz_search_path, :method => :get do %>
        <%= text_field_tag :search, params[:search], :placeholder => "e.g. iPhone in Canada", class: "form-control" %>
        <div align="center"><br><%= submit_tag "Search", class: "btn btn-danger" %></div>
    <% end %><hr>