@import "bootstrap";

/* HEADER */

.row.header{
  border-bottom: 2px solid #E8E8E8;
  padding-bottom:10px;
  margin-bottom:40px;
}

.row.cat-navbar{
  height:40px;
  background-color:#F5F5F5;
  padding-top:5px;
}

.row.header-not-signed{
  height:50px;
  border-bottom: 2px solid #E8E8E8;
  padding-top:10px;
}

.row.cats-not-signed{
  height:52px;
  border-bottom: 2px solid #E8E8E8;
  margin-bottom:50px;
}

.form-control.devise{
  width:220px;
}

.form-control.devise.text{
  height:200px;
}

.form-control.short{
  width:100px;
}

.col-xs-2.logo-signed{
  padding-top:10px;
}

.col-xs-10.sections{
  height:40px;
}

.col-xs-6.products{
  a::before {
    content: "";
    position: absolute;
    width: 540px;
    height: 50px;
    background-image: asset-data-url("3/cathov2.PNG");
    background-repeat: no-repeat;
    background-position: 0 0px;
  }
}

.col-xs-6.products:hover{
  a::before {
    content: "";
    position: absolute;
    width: 540px;
    height: 50px;
    background-image: asset-data-url("3/cathov2.PNG");
    background-repeat: no-repeat;
    background-position: 0 -53px;
  }
}

.col-xs-6.services{
  a::before {
    content: "";
    position: absolute;
    width: 540px;
    height: 50px;
    background-image: asset-data-url("3/cathov2.PNG");
    background-repeat: no-repeat;
    background-position: 0 -106px;
  }
}

.col-xs-6.services:hover{
  a::before {
    content: "";
    position: absolute;
    width: 540px;
    height: 50px;
    background-image: asset-data-url("3/cathov2.PNG");
    background-repeat: no-repeat;
    background-position: 0 -159px;
  }
}

.col-xs-7.login{
  padding-top:10px;
  text-align:right;
}

.input-login:focus{
  border: 2px solid #0099CC;
}

.input-login:hover{
  border: 2px solid #33CCFF;
}

#header-create-offer{
  a{text-decoration: underline;}
  a:hover{text-decoration: none;}
  font-size:110%;
  font-weight:bold;
}

.badge.alert-warning.incoins{
  a{color:brown;}
}

.logospr {
  padding-top:5px;
a::before {
content: "";
position: absolute;
width: 121px;
height: 32px;
background-image: asset-data-url("3/logoap.PNG");
background-repeat: no-repeat;
background-position: 0 0px;
}
}
.logospr:hover {
a::before {
content: "";
position: absolute;
width: 121px;
height: 32px;
background-image: asset-data-url("3/logoap.PNG");
background-repeat: no-repeat;
background-position: 0 -33px;
}
}

/* FORMS */

.form-control.description{
  height:300px;
}