@import "bootstrap";

* {
	margin: 0;
}
html, body {
	height: 98%;
  padding-left:1%;
  padding-right:1%;
}
.wrapper {
	min-height: 98%;
	margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 50px; /* .push must be the same height as .footer */
}

/* HEADER */

.row.header{
  margin-bottom:40px;
  border-bottom: 2px solid #E8E8E8;
  padding-bottom:5px;
}

.form-control.devise{
  width:220px;
}

.form-control.devise.text{
  height:200px;
}

.form-control.short{
  width:100px;
}

.col-xs-3.user-header{
  padding-top:5px;
  text-align:right;
}

.col-xs-5.header-search{
  padding-top:5px;
}

.col-xs-7.login{
  padding-top:10px;
  text-align:right;
}

.input-login:focus{
  border: 2px solid #0099CC;
}

.input-login:hover{
  border: 2px solid #33CCFF;
}

/* FORMS */

.form-control.description{
  height:300px;
}