#allmobile{
  padding:5%;
}

#mobile-feature-list{
  font-size:120%;
}

#mobile-header-not-loggen{
  text-align:center;
  border-bottom: 2px solid #E8E8E8;
}

.row.mobile-header{
  border-bottom: 2px solid #E8E8E8;
  padding:2%;
}

.col-xs-6.m-logo-signed{
  border-left: 2px solid #E8E8E8;
  border-right: 2px solid #E8E8E8;
}