#allmobile{
  padding:5%;
}

#mobile-feature-list{
  font-size:120%;
}

#mobile-header-not-loggen{
  text-align:center;
  border-bottom: 2px solid #E8E8E8;
}

.mobile-header-signed{
  padding:8px;
}

.col-xs-6.m-logo-signed{
  border-left: 2px solid #E8E8E8;
  border-right: 2px solid #E8E8E8;
}

.add-mobile{
  border-bottom: 2px solid #E8E8E8;
  margin-bottom:10px;
  padding-bottom:10px;
}

#just-joined-mobile{
  font-size:200%;
  text-align:center;
  color:#D0D0D0;
}

.add-logout{
  float:right;
}

.m-cat-users{
  border: 1px solid #B0B0B0;
  background-color:#3D3D3D;
  width:20%;
  height:40px;
  padding:5px;
  text-align:center;
}