// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-xs-8.offer-center{
  border-top: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  padding: 20px;
}

.col-sm-6.col-md-3.offer{
  width:240px;
  height:350px;
}

.caption .offer-price-box { float:right }

.offer-review-time{
  font-size:90%;
  color:#787878;
  font-style:italic;
}

.product-main-bar{
  height:50px;
  background-color:#F5F5F5;
  border-top: 2px solid #d84338;
  border-bottom: 2px solid #d84338;
  margin-bottom:30px;
}

.form-control.search{
  width:500px;
}

.form-control.red{
  border: 3px solid #FF8C7A;
  padding:2px;
}

.form-control.short.red{
  border: 3px solid #FF8C7A;
}

#some-textarea-red{
  width:100%;
  height:300px;
  border: 3px solid #FF8C7A;
}

.row.promoted-product{
  background-color:#FFFFCC;
  padding:10px;
  border-bottom: 2px solid #E8E8E8;
}

.row.product-results{
  padding:10px;
  border-bottom: 2px solid #E8E8E8;
}