// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.service-main-bar{
  height:50px;
  background-color:#F5F5F5;
  border-top: 2px solid #d84338;
  border-bottom: 2px solid #d84338;
  margin-bottom:30px;
}