// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.service-main-bar{
  height:50px;
  background-color:#F5F5F5;
  border-top: 2px solid #d84338;
  border-bottom: 2px solid #d84338;
  margin-bottom:30px;
}

.form-control.red{
  border: 3px solid #FF8C7A;
  padding:2px;
}

.form-control.short.red{
  border: 3px solid #FF8C7A;
}

#some-textarea-red{
  width:100%;
  height:300px;
  border: 3px solid #FF8C7A;
}