// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-xs-2.main-catz{
  a{color:#FFFFFF;}
  border: 1px solid #B0B0B0;
  background-color:#3D3D3D;
  height:40px;
  padding:5px;
  text-align:center;
}

.col-sm-6.left-home{
  font-size:120%;
}

.digital-market-home{
  padding-bottom:20px;
  margin-bottom:30px;
  font-size:150%;
  border-bottom: 1px solid #E8E8E8;
}

.landing-description{
  font-size:130%;
  color:#B0B0B0;
}

.how-user-points{
  font-size:125%;
  color:#B0B0B0;
}

.how-general{
  color:#707070;
}

.newsfeed{
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}

.col-xs-2.right-cats-home{
  width:126px;
  background-color:#F8F8F8;
  padding:8px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
}

.col-xs-2.right-cats-home:hover{
  width:126px;
  background-color:#F0F0F0;
  padding:8px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
}

.col-xs-2.right-cats-home.short{
  width:100px;
}

.col-xs-2.right-cats-home.medium{
  width:110px;
}

.col-xs-2.right-cats-home.long{
  width:194px;
}

.label.label-danger.right{
  float:right;
}

.badge.alert-warning.incoins{
  a{color:brown;}
  float:right;
}

/* NEWSFEED */

.image-news-story{
  float:right;
}

.row.product-short{
  border-left: 2px solid #E8E8E8;
  margin-top:20px;
  padding-left:10px;
}

.story-created{
  font-size:85%;
  font-style:italic;
  color:#A0A0A0;
  float:right;
}

.main-nf{
  width:630px;
  margin-left: auto;
  margin-right: auto;
}

/* Promotions */

#promo-products{
  font-weight:bold;
  a{color:#d84338;}
}

#promo-services{
  font-weight:bold;
  a{color:#27a8f2;}
}

#promo-jobs{
  font-weight:bold;
  a{color:#e9ad45;}
}

#promo-rents{
  font-weight:bold;
  a{color:#679745;}
}