// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-xs-6.left-home{
  font-size:120%;
}

.digital-market-home{
  margin-bottom:60px;
  font-size:150%;
}

.col-xs-5.home-center{
  width:450px;
}

.landing-description{
  font-size:130%;
  color:#B0B0B0;
}

#how-works{
  margin-top:200px;
}

.how-user-points{
  font-size:125%;
  color:#B0B0B0;
}

.how-general{
  color:#707070;
}