// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-sm-6.left-home{
  font-size:120%;
}

.digital-market-home{
  padding-bottom:20px;
  margin-bottom:30px;
  font-size:150%;
  border-bottom: 1px solid #E8E8E8;
}

.landing-description{
  font-size:130%;
  color:#B0B0B0;
}

.how-user-points{
  font-size:125%;
  color:#B0B0B0;
}

.how-general{
  color:#707070;
}

.newsfeed{
  padding-top: 60px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}

.col-xs-3.right-cats-home{
  background-color:#F8F8F8;
  padding:8px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
}

.col-xs-3.right-cats-home:hover{
  background-color:#F0F0F0;
  padding:8px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
}

.label.label-danger.right{
  float:right;
}

.badge.alert-warning.incoins{
  a{color:brown;}
  float:right;
}

/* NEWSFEED */

.image-news-story{
  float:right;
}

.row.product-short{
  border-left: 2px solid #E8E8E8;
  margin-top:20px;
  padding-left:10px;
}

.story-created{
  font-size:85%;
  font-style:italic;
  color:#A0A0A0;
  float:right;
}

.main-nf{
  margin-left:25%;
  margin-right:25%;
}