// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile-name{
  font-size:130%;
  padding-top:10px;
  margin-bottom:10px;
}

.col-xs-2.user-show-profile{
  border-right: 1px solid #E8E8E8;
}