  <div align="center">
    © 2014
    <%= mail_to "support@inrevi.com", "Contact" %> |
    <%= link_to "Terms & Privacy", terms_path %> | 
    <%= link_to "Offers", '/offers' %> | 
    <%= link_to "How it Works", '/how' %>
  </div>
<br>