<div class="row header">
  <div class="col-xs-2 logo-signed">
    <span style="padding-right:20px"></span>
    <span class="logospr"><%= link_to "", root_path %></span>
  </div>

  <div class="col-xs-10 sections">
    <div class="col-xs-6 products">
      <% if user_signed_in? %>
        <%= link_to "Products", "/offers" %>
      <% else %>
        <%= link_to "Products", "/how" %>
      <% end %>
    </div>
    <div class="col-xs-6 services"><%= link_to "Services", "/how" %></div>
  </div> 
</div>